$mainBackground: #cfe4fc;
$lightviolet: #C1CEFE;
$darkblue: #0e225b;
$darkred: #790629;
$diamondColor: #624CAB;
$red:#db2b39;
$mobile:360px;
$tablet:640px;

@mixin linkStyle {
    color: $darkblue;
    font-weight: 600;
    text-decoration: none;
}

@mixin paragraphStyle {
    color: $darkblue;
    line-height: 24px;
}