@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a:visited {
  color: #0e225b;
}
body {
  background: #f1f4fd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about {
  &__header {
    color: #790629;
    font-size: 20px;
  }
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
  }
  &__link:hover {
    color: #db2b39;
  }
  &__paragraph {
    border-top: 3px dotted #db2b39;
    color: #0e225b;
    line-height: 24px;
    margin: 0;
    padding: 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.article {
  max-width: 700px;
  width: 100%;
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #db2b39;
    }
  }
  &__paragraph {
    color: #0e225b;
    line-height: 24px;
    margin: 0;
    padding: 10px 16px 10px 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
  &__title {
    color: #790629;
    font-size: 20px;
    margin: 16px 0 16px;
  }
}

.days {
  padding: 16px;
  &:first-child {
    background: #f7f052;
  }
  &:nth-child(4) {
    background: #f7f052;
  }
  &:last-child {
    background: #f7f052;
  }
  &__header {
    color: #790629;
    font-size: 20px;
    margin: 0 0 16px;
    &::after {
      background: #ff6663;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-left: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
    &::before {
      background: #ff6663;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-right: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
  }
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #db2b39;
    }
  }
  &__paragraph {
    color: #0e225b;
    line-height: 24px;
  }
}
.diary__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
.diary__header {
  color: #790629;
}

.fas {
  margin-right: 8px;
}

.footer {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d7dde8, #757f9a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d7dde8, #757f9a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  width: 100%;
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &__top {
      bottom: 15px;
      padding: 5px;
      position: fixed;
      right: 15px;
    }
    &:hover {
      color: #fff;
    }
  }
  &__paragraph {
    color: #0e225b;
    width: 700px;
  }
}
.header__title {
  color: #0e225b;
  font-size: 40px;
}
.navigation {
  &__item {
    display: block;
    margin: 0 16px;
  }
  &__link {
    color: #0e225b;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
}
.main {
  margin: 30px auto;
  max-width: 700px;
  padding-top: 52px;
  width: 100%;
}
.site-header {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757f9a, #d7dde8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757f9a, #d7dde8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
}
span {
  font-weight: bold;
}

@media (max-width: 800px) {
  .footer__paragraph {
    width: 600px;
  }
  .header__title {
    font-size: 34px;
  }
  .main {
    margin: 30px auto;
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  body {
    font-size: 13px;
  }
  .days:nth-child(3) {
    background: #f7f052;
  }
  .days:nth-child(4) {
    background: initial;
  }
  .days:last-child {
    background: #f7f052;
  }
  .diary__grid {
    grid-template-columns: 1fr;
  }
  .footer {
    padding: 0;
  }
  .footer__link--top {
    bottom: 6px;
    position: fixed;
    right: 0px;
    padding: 5px;
  }
  .footer__paragraph {
    width: 500px;
  }
  .header__title {
    font-size: 28px;
    line-height: 40px;
  }
  .about__header,
  .diary__header,
  .days__header,
  .article__title {
    font-size: 16px;
  }
  .main {
    margin: 20px auto;
    max-width: 500px;
    padding-top: 32px;
  }
  .navigation__item {
    padding: 16px;
  }
  .navigation__list {
    flex-direction: column;
    display: none;
  }
  .navigation__list--visible {
    display: flex;
  }
  .navigation__switcher {
    border: none;
    background: none;
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .site-header {
    min-height: 44px;
  }
}

@media (min-width: 641px) {
  .navigation__switcher {
    display: none;
  }
}

@media (max-width: 360px) {
  .footer {
    padding: 0;
  }
  .footer__link--top {
    bottom: 6px;
    position: fixed;
    right: 0px;
    padding: 5px;
  }
  .footer__paragraph {
    max-width: 280px;
  }
  .header__title {
    font-size: 16px;
    line-height: 26px;
  }
  .main {
    margin: 20px auto;
    max-width: 280px;
  }
}
