@import "_normalize";
@import "_variables";

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:visited {
  color: #0e225b;
}

body {
  background: #f1f4fd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  @media (max-width: 640px) {
    font-size: 13px;
  }
}

.about {
  &__header {
    color: #790629;
    font-size: 20px;
    @media (max-width: 640px) {
      font-size: 16px;
    }
  }
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
  }
  &__link:hover {
    color: #db2b39;
  }
  &__paragraph {
    border-top: 3px dotted #db2b39;
    color: #0e225b;
    line-height: 24px;
    margin: 0;
    padding: 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.article {
  max-width: 700px;
  width: 100%;
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #db2b39;
    }
  }
  &__paragraph {
    color: #0e225b;
    line-height: 24px;
    margin: 0;
    padding: 10px 16px 10px 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
  &__title {
    color: #790629;
    font-size: 20px;
    margin: 16px 0 16px;
    @media (max-width: 640px) {
      font-size: 16px;
    }
  }
}

.days {
  padding: 16px;
  &:first-child {
    background: #f7f052;
  }
  &:nth-child(4) {
    background: #f7f052;
    @media (max-width: 640px) {
      background: initial;
    }
  }
  &:last-child {
    background: #f7f052;
  }
  &__header {
    color: #790629;
    font-size: 20px;
    margin: 0 0 16px;
    &::after {
      background: #ff6663;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-left: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
    &::before {
      background: #ff6663;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-right: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
    @media (max-width: 640px) {
      font-size: 16px;
    }
  }
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      color: #db2b39;
    }
  }
  &__paragraph {
    color: #0e225b;
    line-height: 24px;
  }
  @media (max-width: 640px) {
    &:nth-child(3) {
      background: #f7f052;
    }
  }
}

.diary {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }
  &__header {
    color: #790629;
    @media (max-width: 640px) {
      font-size: 16px;
    }
  }
}

.fas {
  margin-right: 8px;
}

.footer {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d7dde8, #757f9a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d7dde8, #757f9a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  width: 100%;
  @media (max-width: 640px) {
    padding: 0;
  }
  &__link {
    color: #0e225b;
    font-weight: 600;
    text-decoration: none;
    &--top {
      bottom: 15px;
      padding: 5px;
      position: fixed;
      right: 15px;
      @media (max-width: 640px) {
        bottom: 6px;
        position: fixed;
        right: 0px;
        padding: 5px;
      }
    }
    &:hover {
      color: #fff;
    }
  }
  &__paragraph {
    color: #0e225b;
    width: 700px;
    @media (max-width: 800px) {
      width: 600px;
    }
    @media (max-width: 640px) {
      width: 500px;
    }
    @media (max-width: 360px) {
      max-width: 280px;
    }
  }
}

.header__title {
  color: #0e225b;
  font-size: 40px;
  @media (max-width: 800px) {
    font-size: 34px;
  }
  @media (max-width: 640px) {
    font-size: 28px;
    line-height: 40px;
  }
  @media (max-width: 360px) {
    font-size: 16px;
    line-height: 26px;
  }
}

.navigation {
  &__item {
    display: block;
    margin: 0 16px;
    @media (max-width: 640px) {
      padding: 16px;
    }
  }
  &__link {
    color: #0e225b;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    @media (max-width: 640px) {
      flex-direction: column;
      display: none;
    }
    &--visible {
      @media (max-width: 640px) {
        display: flex;
      }
    }
  }
  &__switcher {
    @media (max-width: 640px) {
      border: none;
      background: none;
      position: absolute;
      right: 16px;
      top: 16px;
    }
    @media (min-width: 641px) {
      display: none;
    }
  }
}

.main {
  margin: 30px auto;
  max-width: 700px;
  padding-top: 52px;
  width: 100%;
  @media (max-width: 800px) {
    max-width: 600px;
  }
  @media (max-width: 640px) {
    margin: 20px auto;
    max-width: 500px;
    padding-top: 32px;
  }
  @media (max-width: 360px) {
    margin: 20px auto;
    max-width: 280px;
  }
}

.site-header {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757f9a, #d7dde8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757f9a, #d7dde8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: 640px) {
    min-height: 44px;
  }
}

span {
  font-weight: bold;
}
