@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700|Raleway:400,700&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:visited {
  color: $darkblue;
}

body {
  background: $mainBackground;
  font-family: 'Lato', sans-serif;
  @media (max-width: $tablet) {
    font-size: 13px;
  }
}

.about {
  &__header {
    color: $darkred;
    font-size: 20px;
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
  &__link {
    @include linkStyle;
  }
  &__link:hover {
    color: $red;
  }
  &__paragraph {
    border-top: 3px dotted $red;
    @include paragraphStyle;
    margin: 0;
    padding: 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
}

.article {
  max-width: 700px;
  width: 100%;
  &__link {
    @include linkStyle;
    &:hover {
      color: $red;
    }
  }
  &__paragraph {
    @include paragraphStyle;
    margin: 0;
    padding: 10px 16px 10px 16px;
  }
  &__picture {
    border-radius: 5px;
    display: block;
    max-width: 700px;
    width: 100%;
  }
  &__title {
    color: $darkred;
    font-size: 20px;
    margin: 16px 0 16px;
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}

.days {
  padding: 16px;
  &:first-child {
    background: $yellow;
  }
  &:nth-child(4) {
    background: $yellow;
    @media (max-width: $tablet) {
      background: initial;
    }
  }
  &:last-child {
    background: $yellow;
  }
  &__header {
    color: $darkred;
    font-size: 20px;
    margin: 0 0 16px;
    &::after {
      background: $diamondColor;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-left: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
    &::before {
      background: $diamondColor;
      border-radius: 25%;
      content: "";
      display: inline-block;
      height: 10px;
      margin-bottom: 2px;
      margin-right: 8px;
      transform: rotate(45deg);
      width: 10px;
    }
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
  &__link {
    @include linkStyle;
    &:hover {
      color: $red;
    }
  }
  &__paragraph {
    @include paragraphStyle;
  }
  @media (max-width: $tablet) {
    &:nth-child(3) {
      background: $yellow;
    }
  }
}

.diary {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
    }
  }
  &__header {
    color: $darkred;
    @media (max-width: $tablet) {
      font-size: 16px;
    }
  }
}

.fas {
  margin-right: 8px;
}

.footer {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #d7dde8, #757f9a);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #d7dde8, #757f9a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  width: 100%;
  @media (max-width: $tablet) {
    padding: 0;
  }
  &__link {
    @include linkStyle;
    &--top {
      bottom: 15px;
      padding: 5px;
      position: fixed;
      right: 15px;
      @media (max-width: $tablet) {
        bottom: 6px;
        position: fixed;
        right: 0px;
        padding: 5px;
      }
    }
    &:hover {
      color: #fff;
    }
  }
  &__paragraph {
    color: $darkblue;
    width: 700px;
    @media (max-width: 800px) {
      width: 600px;
    }
    @media (max-width: $tablet) {
      width: 500px;
    }
    @media (max-width: $mobile) {
      max-width: 280px;
    }
  }
}

.header__title {
  color: $darkblue;
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  @media (max-width: 800px) {
    font-size: 34px;
  }
  @media (max-width: $tablet) {
    font-size: 28px;
    line-height: 40px;
  }
  @media (max-width: $mobile) {
    font-size: 16px;
    line-height: 26px;
  }
}

.navigation {
  &__item {
    display: block;
    margin: 0 16px;
    @media (max-width: $tablet) {
      padding: 16px;
    }
  }
  &__link {
    color: $darkblue;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    @media (max-width: $tablet) {
      flex-direction: column;
      display: none;
    }
    &--visible {
      @media (max-width: $tablet) {
        display: flex;
      }
    }
  }
  &__switcher {
    @media (max-width: $tablet) {
      border: none;
      background: none;
      position: absolute;
      right: 16px;
      top: 16px;
    }
    @media (min-width: 641px) {
      display: none;
    }
  }
}

.main {
  margin: 30px auto;
  max-width: 700px;
  padding-top: 52px;
  width: 100%;
  @media (max-width: 800px) {
    max-width: 600px;
  }
  @media (max-width: $tablet) {
    margin: 20px auto;
    max-width: 500px;
    padding-top: 32px;
  }
  @media (max-width: $mobile) {
    margin: 20px auto;
    max-width: 280px;
  }
}

.site-header {
  background: #757f9a;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #757f9a, #d7dde8);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #757f9a, #d7dde8);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-sizing: border-box;
  left: 0;
  opacity: 0.9;
  padding: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  @media (max-width: $tablet) {
    min-height: 44px;
  }
}

span {
  font-weight: bold;
}
